/* Generic */

@font-face {
    font-family: 'komika_axisregular';
    src: url('komikax_-webfont.woff2') format('woff2'),
         url('komikax_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    position: relative;
    overflow-y: hidden;
}

/* Navbar */

#myNav {
    height: 75px;
    background-color: #7b00ff;
    border-bottom: 3px solid #0e001c;
    margin-bottom: 5em;
}

.nav a {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
}

.active a{
    color: black;
    text-decoration: underline;
}

#name {
    position: relative;
}

#name a {
    z-index: 3;
    font-family: 'komika_axisregular';
    color: black;
    position: absolute;
    transform: skew(-9deg, -7deg);
    top: -2em;
    left: 2.5em;
}

#name h1 {
    
}

#text-box {
    transform: skew(-9deg, -7deg);
    z-index: 2;
    height: 7em;
    width: 14em;
    background-color: yellow;
    position: absolute;
    top: -2em;
    left: 0;
    border: 5px solid black;
}

#text-box-shadow {
    transform: skew(-9deg, -7deg);
    z-index: 1;
    height: 7em;
    width: 14em;
    background-color: black;
    position: absolute;
    top: -1.5em;
    left: 1em;
    border: 5px solid black;
}

/* FLIPBOOK */
#flipbook-viewport {
    position: relative;
}

.box {
    position: absolute;
    top: 25%;
    left: 25%;
}

#flipbook {
    margin: 0 auto;
}


#flipbook .page {
    background-color: white;
}

#flipbook .hard {
    background-color: grey;
}

.page {
    background-image: url("./images/page-background.png");
    background-size: 100%;
    overflow-x: hidden;
}

/* Comic Book */

.comic {
    display: flex;
    flex-wrap: wrap;
    font-family: 'komika_axisregular', cursive;
    padding: 1vmin;
}

.panel {
    background-color: #fff;
    border: solid 2px #000;
    box-shadow: 0 6px 6px -6px #000;
    display: inline-block;
    flex: 1 1;
    height: 200px;
    margin: 1vmin;
    overflow: hidden;
    position: relative;
}

.text {
    background-color: #fff;
    border: solid 2px #000;
    margin: 0;
    padding: 3px 10px;
}

.top-left {
    left: -6px;
    position: absolute;
    top: -2px;
    transform: skew(-15deg);
}

.bottom-right {
    bottom: -2px;
    position: absolute;
    right: -6px;
    transform: skew(-15deg);
}

.speech {
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 12px;
    display: inline-block;
    margin: .5em;
    padding: .5em 1em;
    position: relative;
}

.speech:before {
    border: solid 12px transparent;
    border-left: solid 12px #000;
    border-top: solid 12px #000;
    bottom: -24px;
    content: "";
    height: 0;
    left: 24px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
}

.speech:after {
    border: solid 10px transparent;
    border-left: solid 10px #fff;
    border-top: solid 10px #fff;
    bottom: -19px;
    content: "";
    height: 0;
    left: 27px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
}

.panel:nth-child(1) {
    flex-basis: 400px;
}

.panel:nth-child(2) {
    flex-basis: 200px;
}

.panel:nth-child(3) {
    flex-basis: 200px;
}

.panel:nth-child(4) {
    flex-basis: 200px;
}

.panel:nth-child(5) {
    flex-basis: 200px;
}

.panel:nth-child(6) {
    flex-basis: 200px;
}

.panel:nth-child(7) {
    flex-basis: 400px;
}

.panel:nth-child(8) {
    flex-basis: 200px;
}

.panel:nth-child(9) {
    flex-basis: 200px;
}

/* background colours*/



.page .panel {
    background-size: 100%;
}

#page1 .panel {
    margin-bottom: 5rem;
}

#page1 .panel:nth-child(1) {
    background-image:url("./images/earth.jpg");
}

#page1 .panel:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1357&q=80");
    background-size: 100%;
}

#page2 .panel:nth-child(1) {
    background-image: url("./images/thisisablog.jpg");
}

#page3 .panel:nth-child(1) {
    background-image: url("./images/trailfolk.jpg");
}

#page4 .panel:nth-child(1) {
    background-image: url("./images/huluFlix.jpg");
}

#page5 .panel:nth-child(1) {
    background-image: url("https://rollout.io/blog/wp-content/uploads/sites/2/2018/06/Database-Migration-Image-with-Servers-and-Tech-Icons.jpg");
}

#page5 .panel:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
    background-size: 100%;
}

#page5 .panel {
    margin-bottom: 5rem;
}

#page6 .panel:nth-child(1) {
    background-image: url("./images/straytx.jpg");
}

#page7 .panel:nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1560523371-b28d9e070c21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
}

#page7 .panel:nth-child(2) {
    background-image: url("https://miro.medium.com/max/3600/1*HSisLuifMO6KbLfPOKtLow.jpeg");
    background-size: cover;
}

#page7 .panel {
    margin-bottom: 5rem;
}

#page8 .panel:nth-child(1) {
    background-image: url("./images/gigbook.jpg");
}

#page9 .panel:nth-child(1) {
    background-image: url("./images/pwa.png");
}

#page9 .panel:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1512499617640-c74ae3a79d37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

#page9 .panel {
    margin-bottom: 5rem;
}

#page10 .panel:nth-child(1) {
    background-image: url("./images/QuickMerch.PNG");
}

.page .panel:nth-child(2) {
    background: radial-gradient(circle, rgba(110,0,195,1) 0%, rgba(210,50,255,1) 100%);
}

.page .panel:nth-child(3) {
    background: radial-gradient(circle, rgba(38,166,255,1) 0%, rgba(88,255,13,1) 100%);
}

.page .panel img {
    height: 100%;
    width: 100%;
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10px;
    height: 18px;
    background-color: black;
    text-align: center;
    color: grey;
}

/* media queries */

@media only screen and (max-width: 1440px) {
  .box {
    left: 25%;
  }
  #page1 .panel {
    margin-bottom: 1rem;
    }
    #page5 .panel {
        margin-bottom: 1rem;
    }
    #page7 .panel {
        margin-bottom: 1rem;
    }
    #page9 .panel {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 1024px)  {
    .nav a {
        font-size: 30px;
    }
    .box {
        left: 5%;
    }
}

@media only screen and (max-width: 768px) {
    nav li:first-of-type {
        display: none;
    }
    #page1 .panel {
        margin-bottom: 1rem;
    }
    #page5 .panel {
        margin-bottom: 1rem;
    }
    #page7 .panel {
        margin-bottom: 1rem;
    }
    #page9 .panel {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    #myNav {
        height: 15em;
        position: static;
    }
    ul {
        text-align: right;
    }
    li {
        width: 100%;
    }
    #text-box {
        width: 10em;
        top: 3em;
    }
    #text-box-shadow {
        left: .5em;
        width: 10em;
        top: 3.5em;
    }
    #name a {
        top: 4em;
        left: 1em;
    }
    #name a h1 {
        font-size: 2em;
    }
    .container {
        width: 18em;
    }
    #me {
        height: 16em;
        margin-bottom: 20px;
    }
    #img-div a {
        margin-right: 1%;
    }
    footer {
        font-size: 8px;
    }
    .box {
        left: -7em;
    }
}