/* Generic */

@font-face {
    font-family: 'komika_axisregular';
    src: url('komikax_-webfont.woff2') format('woff2'),
         url('komikax_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    position: relative;
}

/* Navbar */

#myNav {
    height: 75px;
    background-color: #7b00ff;
    border-bottom: 3px solid #0e001c;
    margin-bottom: 5em;
}

.nav a {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
}

.active a{
    color: black;
    text-decoration: underline;
}

#name {
    position: relative;
}

#name a {
    z-index: 3;
    font-family: 'komika_axisregular';
    color: black;
    position: absolute;
    transform: skew(-9deg, -7deg);
    top: -2em;
    left: 2.5em;
}

#name h1 {
    
}

#text-box {
    transform: skew(-9deg, -7deg);
    z-index: 2;
    height: 7em;
    width: 14em;
    background-color: yellow;
    position: absolute;
    top: -2em;
    left: 0;
    border: 5px solid black;
}

#text-box-shadow {
    transform: skew(-9deg, -7deg);
    z-index: 1;
    height: 7em;
    width: 14em;
    background-color: black;
    position: absolute;
    top: -1.5em;
    left: 1em;
    border: 5px solid black;
}

/* Container */

.container {
    width: 900px;
}

.container h1{
    font-size: 70px;
    text-align: center;
}

.container p {
    font-size: 24px;
}

#me {
    margin-right: 20px;
    float: left;
    border: 5px solid black;
    border-radius: 50%;
    height: 25em;
}

/* Images */

.floating-image {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px;
}

.floating-image img{
    height: 100%;
    border: 5px solid black;
}

#iron-man {
    border: 5px solid black;
    transform: rotate(5deg);
    position: absolute;
    height: 30em;
    right: -17%;
    top: 40em;
}

#thor {
    border: 5px solid black;
    transform: rotate(-5deg);
    position: absolute;
    height: 30em;
    left: -14%;
    top: 20em;
}

#captain-america {
    border: 5px solid black;
    transform: rotate(-5deg);
    position: absolute;
    height: 30em;
    left: -14%;
    top: 60em;
}

#incredible-hulk {
    border: 5px solid black;
    transform: rotate(5deg);
    position: absolute;
    height: 30em;
    right: -20%;
    top: 80em;
}


/* Jumbotron */

#skill-jumbotron {
    margin-bottom: 0;
    margin-top: 10em;
    height: 700px;
    position: relative;
    background: linear-gradient(180deg, rgba(110,0,195,1) 0%, rgba(210,50,255,1) 100%);
    border-top: 3px solid #0e001c;
}

#spider-man {
    transform: scaleX(-1);
    z-index: 2;
    height: 75%;
    position: absolute;
    left: -5%;
    top: 0;
}

#spider-man-shadow {
    transform: scaleX(-1);
    z-index: 1;
    height: 75%;
    position: absolute;
    left: -4.5%;
    top: 0;
}

#skills-div {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

#img-div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#img-div a {
    margin: 0 auto;
    margin-right: 10%;
    margin-bottom: 10%;
    min-width: 6em;
    height: 6em; 
}

.skill-img {
    margin: 0 auto;
    margin-right: 10%;
    margin-bottom: 10%;
    min-width: 6em;
    height: 6em;
}

/* Footer */

footer {
    font-size: 10px;
    height: 18px;
    background-color: black;
    text-align: center;
    color: grey;
}