/* Generic */

@font-face {
    font-family: 'komika_axisregular';
    src: url('komikax_-webfont.woff2') format('woff2'),
         url('komikax_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#scrollArrow {
    display: none;
}

body {
    position: relative;
}

/* Navbar */

#myNav {
    height: 75px;
    background-color: #7b00ff;
    border-bottom: 3px solid #0e001c;
    margin-bottom: 5em;
}

.nav a {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
}

.active a{
    color: black;
    text-decoration: underline;
}

#name {
    position: relative;
}

#name a {
    z-index: 3;
    font-family: 'komika_axisregular';
    color: black;
    position: absolute;
    transform: skew(-9deg, -7deg);
    top: -2em;
    left: 2.5em;
}

#name h1 {
    
}

#text-box {
    transform: skew(-9deg, -7deg);
    z-index: 2;
    height: 7em;
    width: 14em;
    background-color: yellow;
    position: absolute;
    top: -2em;
    left: 0;
    border: 5px solid black;
}

#text-box-shadow {
    transform: skew(-9deg, -7deg);
    z-index: 1;
    height: 7em;
    width: 14em;
    background-color: black;
    position: absolute;
    top: -1.5em;
    left: 1em;
    border: 5px solid black;
}

/* Container */

.container {
    width: 900px;
}

.container h1{
    font-size: 70px;
    text-align: center;
}

.container p {
    font-size: 24px;
}

#me {
    background-image: url("./images/min/comic-background.png");
    background-size: 125%;
    margin-right: 20px;
    float: left;
    border: 5px solid black;
    border-radius: 50%;
    height: 25em;
}

#me:hover {
    content: url("./images/min/me.jpg")
}


/* Images */

.floating-image {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px;
}

.floating-image img{
    height: 100%;
    border: 5px solid black;
}

#iron-man {
    border: 5px solid black;
    transform: rotate(5deg);
    position: absolute;
    height: 30em;
    right: -17%;
    top: 40em;
}

#iron-man:hover {
    content: url("./images/min/rdj.jpg");
}

#thor {
    border: 5px solid black;
    transform: rotate(-5deg);
    position: absolute;
    height: 30em;
    left: -14%;
    top: 20em;
}

#thor:hover {
    content: url("./images/min/ch.jpg");
}

#captain-america {
    border: 5px solid black;
    transform: rotate(-5deg);
    position: absolute;
    height: 30em;
    left: -14%;
    top: 60em;
}

#captain-america:hover {
    content: url("./images/min/ce.jpg");
}

#incredible-hulk {
    border: 5px solid black;
    transform: rotate(5deg);
    position: absolute;
    height: 30em;
    right: -20%;
    top: 80em;
}

#incredible-hulk:hover {
    content: url("./images/min/mr-alt.jpg");
}


/* Jumbotron */

#skill-jumbotron {
    margin-bottom: 0;
    margin-top: 10em;
    height: 700px;
    position: relative;
    background: linear-gradient(180deg, rgba(110,0,195,1) 0%, rgba(210,50,255,1) 100%);
    border-top: 3px solid #0e001c;
}

#spider-man {
    transform: scaleX(-1);
    z-index: 2;
    height: 75%;
    position: absolute;
    left: -5%;
    top: 0;
}

#spider-man-shadow {
    transform: scaleX(-1);
    z-index: 1;
    height: 75%;
    position: absolute;
    left: -4.5%;
    top: 0;
}

#skills-div {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

#img-div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#img-div a {
    margin: 0 auto;
    margin-right: 10%;
    margin-bottom: 10%;
    min-width: 6em;
    height: 6em; 
}

.skill-img {
    margin: 0 auto;
    margin-right: 10%;
    margin-bottom: 10%;
    min-width: 6em;
    height: 6em;
}

/* Footer */

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 10px;
    height: 18px;
    background-color: black;
    text-align: center;
    color: grey;
}

/* media queries */

@media only screen and (max-width: 1440px) {
    .container {
        width: 45em;
    }
    .floating-image {
        height: 20em !important;
    }
    #me {
        height: 20em;
    }
    #skill-jumbotron {
        height: 730px;
    }
    #skills-div {
        width: 39%;
    }
}

@media only screen and (max-width: 1024px)  {
    .container {
        width: 35em;
    }
    .floating-image {
        height: 15em !important;
    }
    #me {
        height: 15em;
    }
    #spider-man {
        height: 50%;
    }
    #spider-man-shadow {
        height: 50%;
    }
    #skill-jumbotron {
        height: 730px;
    }
    #skills-div {
        width: 56%;
    }
}

@media only screen and (max-width: 768px) {
    #thor {
        display: none;
    }
    #iron-man {
        display: none;
    }
    #captain-america {
        display: none;
    }
    #incredible-hulk {
        display: none;
    }
    #spider-man {
        display: none;
    }
    #spider-man-shadow {
        display: none;
    }
    #skills-div {
        width: 100%;
    }
    .skill-img {
        height: 6.5em;
        width: 6.5em;
    }
    #img-div a {
        margin-right: 6%;
    }
}

@media only screen and (max-width: 450px) {
    #myNav {
        height: 15em;
        position: static;
    }
    ul {
        text-align: right;
    }
    li {
        width: 100%;
    }
    #text-box {
        width: 10em;
        top: 3em;
    }
    #text-box-shadow {
        left: .5em;
        width: 10em;
        top: 3.5em;
    }
    #name a {
        top: 4em;
        left: 1em;
    }
    #name a h1 {
        font-size: 2em;
    }
    .container {
        width: 18em;
    }
    #me {
        height: 16em;
        margin-bottom: 20px;
    }
    #img-div a {
        margin-right: 1%;
    }

    #scrollArrow {
        display: block;
        margin: 0 auto;
        margin-top: 2em;
        color: black;
        cursor: pointer;
        font-size: 25px;
        height: 3em;
        border: 5px solid black;
        border-radius: 50%;
        width: 3em;
        text-align: center;
        animation: bounce 1.25s infinite; 
    }

    i {
        font-size: 50px;
    }
    
    @keyframes bounce {
        0% { padding-top: -3px; }
        50% { padding-top: 5px; }
        100% { padding-top: -3px;}
    }
    footer {
        font-size: 8px;
    }
    
}
